html, body{
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4{
	margin: 0px;
}

.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}

.jarak{
	padding-top: 225px;
	padding-bottom: 225px;
	padding-left: 225px;
	background-color: #f3f3f3;
}
